@use "variables";

$barHeight: variables.$defaultBarHeight;
$activeBarHeight: variables.$activeBarHeight;

.q-poll-result-poll {
  position: relative;
  padding: 0px 0px $barHeight;
  margin-bottom: variables.$labelLineHeight;

  h3 {
    margin: 0px;
    padding: 0px 0px 5px;
    display: block;
  }

  &--current {
    padding: 0px 0px $activeBarHeight;

    .q-poll-result-bar {
      height: $activeBarHeight;

      span {
        margin-top: $activeBarHeight + 5px;
      }
    }
  }
}

.q-poll-result-arrow {
  border: variables.$arrowSize solid currentColor;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -(variables.$arrowSize);
}

.q-poll-result-bar {
  float: left;
  height: $barHeight;
  text-align: center;
  background: currentColor;

  span {
    margin-top: $barHeight + 5px;
    display: block;
  }
}
