$defaultBarHeight: 10px;
$activeBarHeight: 30px;
$arrowSize: 5px;
$labelLineHeight: 40px;

// TODO: Delete if really not used
/* .q-poll-result-item {
  padding: 0px 0px 25px;
  margin: 0px;

  * {
    box-sizing: inherit;
  }

  h2 {
    margin: 0px;
  }
} */

// TODO: Delete if really not used
/* .q-poll-result-date {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 15px 0 0;
  color: #787878;
} */
